/*
David Budak, AI 7/2022
Alen Gavrilović, AI 13/2022
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face 
{
  font-family: 'type_icons'; /* name you’ll use in CSS */
  src: url(fonts/TypeIcons.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body
{
	background-color: #200020;
}

/* NAVBAR */

nav
{
	font-family: Barlow;
}

.custom-color
{
	background-color: #3f2840;
}

.navbar-nav
{
	align-items: center;
}

.navbar ul
{

	gap: 20px;
}

.nav-link
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

nav img
{
	width: 60px;
}

footer
{
	font-family: 'type_icons';
	display: flex;
    align-items: center;
    justify-content: center;
 margin-top: 50px;
 
}

