/*
David Budak, AI 7/2022
Alen Gavrilović, AI 13/2022
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face 
{
  font-family: 'type_icons'; /* name you’ll use in CSS */
  src: url(fonts/TypeIcons.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body
{
  background-color: #200020;
}

img
{
  border-radius: 30px;
}

/* NAVBAR */

nav
{
   

	font-family: 'Barlow Condensed';
  font-weight: 600;
}

.custom-color
{
  background-color: #3f2840;
}

.navbar-nav
{
  align-items: center;
}

.dropdown-menu .active
{
  background-color: #604060;
  color: #ffffff;
}

.dropdown-menu .active:hover
{
  background-color: #806080;
  transition: .25s ease;
}

.navbar ul
{

  gap: 20px;
}

.nav-link
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

nav img
{
  width: 60px;

.dropdown-menu
{
  
  background: rgba(195, 177, 225, 0.9);
  border-radius: 0.5em;
  box-shadow:
    inset 0px -6px 18px -6px rgba(195, 177, 225, 0.2),
    inset rgba(195, 177, 225, 0.3) -1px -1px 6px 0px,
    inset 12px 0px 12px -6px rgba(195, 177, 225, 0.1),
    inset -12px 0px 12px -6px rgba(195, 177, 225, 0.1),
    rgba(195, 177, 225, 0.4) -1px -1px 6px 0px;  
   

    

}

footer
{
	font-family: 'type_icons';
	display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.main-page
{
  display: flex;
  margin: 20px 20px 20px 20px;

}

.main-page img
{
  width: 100%;
  border-radius: 30px;
}


.button {
  background: rgba(195, 177, 225, 0.1);
  border-radius: 0.5em;
  box-shadow:
    inset 0px -6px 18px -6px rgba(195, 177, 225, 0.2),
    inset rgba(195, 177, 225, 0.3) -1px -1px 6px 0px,
    inset 12px 0px 12px -6px rgba(195, 177, 225, 0.1),
    inset -12px 0px 12px -6px rgba(195, 177, 225, 0.1),
    rgba(195, 177, 225, 0.4) -1px -1px 6px 0px;      
  border: solid 2px #C3B1E1; 
  cursor: pointer;
  font-family: 'Barlow Condensed';
  font-size: 18px;
  padding: 0.7em 1.7em;
  outline: none;
  transition: all 0.3s;
  user-select: none;
}

.button:hover {
  box-shadow:
    inset 0px -6px 18px -6px rgba(195, 177, 225, 0.5),
    inset 0px 6px 18px -6px rgba(195, 177, 225, 0.5),
    inset 12px 0px 12px -6px rgba(195, 177, 225, 0.1),
    inset -12px 0px 12px -6px rgba(195, 177, 225, 0.1),
    -1px -1px 6px 0px rgba(195, 177, 225, 0.5);
}

.button:active {
  box-shadow:
    inset 0px -12px 12px -6px rgba(195, 177, 225, 0.6),
    inset 0px 12px 12px -6px rgba(195, 177, 225, 0.6),
    inset 12px 0px 12px -6px rgba(195, 177, 225, 0.4),
    inset -12px 0px 12px -6px rgba(195, 177, 225, 0.4),
    -1px -1px 6px 0px rgba(195, 177, 225, 0.5);
}

.text-to-the-top 
{
  color: #C3B1E1; 
  font-weight: 700;
  margin: auto;
  transition: all 0.3s;
  width: fit-content;
}

.button:hover .text-to-the-top  {
  transform: scale(0.9);
}

.button:active .text-to-the-top  {
  transform: scale(0.8);
}

.container-fluid .lead
{
  font-size: 25px;
  font-family: 'Barlow Condensed';
  font-weight: 400;
  color: #ffffff;
}

.container-fluid .h1
{
  font-family: 'Barlow Condensed';
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 20px;
}

.container-fluid .h3
{
  font-family: 'Barlow Condensed';
  font-weight: 700;
  letter-spacing: 4px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.container-fluid .h4
{
  font-family: 'Barlow Condensed';
  font-weight: 200;
  letter-spacing: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.blockquote-footer
{
  font-size: 25px;
  font-family: 'Barlow Condensed';
  font-weight: 400;
  color: #999999;
  margin-top: 5px;
  font-style: italic;
}

.section 
{
  display: flex;
  background-color: black;
} 



.section 
{

   display: flex;
   background-color: black;
}


.border-scrollspy
{
  background-color: black;
  border-radius: 5px;
  border-color: white;
  border: 5px;
}